{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Agencies{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Agences immobilières</h1>
            <p class="lead">Liste des agences immobilières.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for agency in pagination %}
                <div class="col-md-4 mt-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('agency/imgs/uploads/' ~ agency.image ) }}" alt="{{ agency.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ agency.name }}</h5>
                            <p class="card-text">{{ agency.description|slice(0, 100) ~ '...' }}</p>
                            <a href="{{ path('platform_property_show', {'id': agency.id}) }}" class="btn btn-primary">Voir l'agence</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 offset-4 mt-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>


    </div>
{% endblock %}