{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Properties{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Biens immobiliers</h1>
            <p class="lead">Liste des biens en vente.</p>
            {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.department) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.minPrice) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.maxPrice) }}
                    </div>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-secondary">Rechercher</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for property in pagination %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ property.type }} à {{ property.city }} - {{ property.area }} m²</h5>
                            <p class="card-text">{{ property.description|slice(0, 100) ~ '...' }}</p>
                            <a href="{{ path('platform_property_show', {'id': property.id}) }}" class="btn btn-info">Voir ce bien</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
