{% extends 'agency_layout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-light">
                        Modification du bien n°{{ property.id }}
                    </div>

                    <div class="card-body">

                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_row(form.title, {'value': property.title}) }}

                                    {{ form_row(form.room, {'value': property.room}) }}

                                    {{ form_row(form.bedroom, {'value': property.bedroom}) }}
                                </div>
                                <div class="col-md-9">
                                    {{ form_row(form.description, {'value': property.description}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form_row(form.area, {'value': property.area}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.garden, {'value': property.garden}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.heater, {'value': property.heater}) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.garage, {'value': property.garage}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.type, {'value': property.type}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.department, {'value': property.department}) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.city, {'value': property.city}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(form.price, {'value': property.price}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-left">
                                        <a href="{{ path('agency_home_dashboard') }}" class="btn-lg btn-secondary">
                                            <i class="fa fa-align-center"></i> Retour
                                        </a>
                                    </div>
                                    <div class="float-right">
                                        <button type="submit" class="btn-lg btn-info">
                                            <i class="fa fa-download"></i> Modifier
                                        </button>
                                        <a href="{{ path('agency_property_remove', {'id': property.id}) }}"
                                           class="btn-lg btn-danger"
                                           onclick="return confirm('Etes-vous sur de vouloir supprimer l\'annonce ?')">
                                            <i class="fa fa-trash"></i> Supprimer
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}